@import '../../styles/variables.scss';

.admin {
	.ant-layout {
		background: #fff;

		.placeholder {
			text-align: center;
			font-size: 40px;
		}

		.ant-layout-content {
			.data {
				.content {
					padding-top: 0;

					.smart-table {
						.data-header {
							.title {
								color: #fff;
							}
						}

						.smart-table-header {
							.search {
								border-top: 1px solid #5178ec;

								input {
									height: 36px;
									padding: 10px;
									font-size: 14px;

									&:hover {
										border-color: #c1c1c1;
									}

									&:focus {
										border-color: #c1c1c1;
										outline: 0;
										box-shadow: none;
									}
								}

								.ant-input-suffix {
									right: 8px;
								}
							}
						}

						.table {
							.ant-table {
								.ant-table-content {
									background-color: $primary-color;

									.ant-table-body {
										tr {
											th {
												font-family: $roboto-regular;
												font-size: 14px;
												font-weight: bold;
												background: $primary-color;
												border: 1px solid #5077ec;
											}

											td {
												padding: 8px;
												font-size: 14px;
											}
										}
									}
								}
							}
						}

						.notification-btn {
							border: 1px solid #e8bd0f;
							color: #e8bd0f;
						}
					}
				}
			}
		}
	}
}

.add-user-modal,
.notification-modal {
	.ant-modal-content {
		.ant-modal-header {
			background: #fff6f7;

			.ant-modal-title {
				font-size: 16px;
				font-weight: bold;
			}
		}

		.ant-modal-body {
			padding: 0;
		}
	}
}

.ant-layout-sider-zero-width-trigger {
	display: none;
}

/* responsiveness */
@media (max-width: 1024px) {
	.admin {
		.sider {
			position: fixed;
			height: 100%;
			z-index: 4;
		}

		.ant-layout {
			.ant-layout-content {
				margin: 0 8px !important;
			}
		}

		table {
			border: 1px solid #e9e9e9 !important;
		}

		table,
		thead,
		tbody,
		th,
		td,
		tr {
			display: block;
		}

		thead tr {
			th {
				display: none;

				&:first-child {
					display: block;
					width: 100% !important;
					border-right: none;
					overflow: hidden;

					div {
						float: left;
					}
				}
			}
		}

		tr:nth-child(even) {
			background: #f5f7f9;
		}

		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
			display: flex;
			border-right: none !important;

			&.ant-table-selection-column {
				width: 100% !important;
			}
		}

		td:before {
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
			font-weight: bold;
			color: #000;
		}
	}
}

@media (max-width: 762px) {
}

@media (max-width: 520px) {
}

/* /responsiveness */
